.Navigation {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#popupBtn, .Popup{
  width: 35px;
  height: 35px;
}
#popupBtn {
  position: absolute;
  right: 50px;
  border: 0;
  background-color: white;
  transition: transform .3s ease-in-out;
}
#popupBtn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.Container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DateButton {
  color: black;
  font-size: 30px;
  transition: all 200ms ease-in;
}

.Date {
  margin: 0 67px;
  font-weight: 700;
  font-size: 35px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

.Navigation:hover {
  cursor: pointer;
  transition: 200ms ease-in;
}

.DateButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #2F58CD;
}


@media ( max-width: 767px ) {
  .Logo{
    width: 170px;
  }

  #popupBtn, .Popup{
    width: 30px;
    height: 30px;
  }

  #popupBtn{
    right: 50px;
  }

  .Container{
    margin-top: 30px;
  }
  
  .DateButton{
    font-size: 23px;
  }

  .Date{
    margin: 0 30px;
    font-size: 27px;
  }
}