.total-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  margin-top: 50px;
  font-weight: 600;
}
.total-continer-header{
  font-weight: 600;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-container-header-title{
  font-size: 20px;
}
.filter-btn{
  transition: all .3s ease-in;
  font-weight: 600;
}
.filter-btn:hover{
  cursor: pointer;
  transform: scale(1.05);
  color: #2F58CD;
}
.sam {
  background-color: #e7f7ff;
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 15px;
  padding: 15px 0;
}
.contents-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contents-header{
  margin-bottom: 10px;
}
.fa-heart{
  margin-right: 5px;
}
.myButton{
  margin-right: 15px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  transition: all .2s ease-in;
}
.myButton:hover{
  cursor: pointer;
  transform: scale(1.05);
  color: #E74646;
}
.rank {
  text-align: center;
  flex: 1 1 auto;
}
.contents {
  flex: 4 1 auto;
}
.contents-main{
  display: flex;
  flex-direction: column;
}
.contents-main-item{
  display: flex;
  align-items: center;
}
.contents-main-left1,.contents-main-left2,.contents-main-left3{
  border-right: 2px solid black;
  padding-right: 5px;
  padding : 4px 5px 2px 0;
}
.contents-main-right1,.contents-main-right2,.contents-main-right3{
  padding-left: 5px;
}


@media ( max-width: 767px ) {
  .total-container-header-title{
    font-size: 17px;
  }
}
